**.DS_Store
**RestSharpDemo.sln.DotSettings.user
**/Debug/RestSharpDemo.dll
**/Debug/RestSharpDemo.pdb
**/Debug/RestSharpDemo.csproj.CoreCompileInputs.cache
**/Debug/RestSharpDemo.csprojAssemblyReference.cache
**/Debug/RestSharpDemo.dll
**/RestSharpDemo.pdb